*{
  margin:0;
  padding:0;
  box-sizing: border-box; 
background-color: #E6E0BB;
  font-family: 'Abril Fatface'; }

  
@media screen and (min-width: 600px) {

.top {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo {
width: 30vw;
  height:30vh;
  background-image: url("../images/ed8557ccaa234f158b80ea093181687b.png");
  background-size: contain;
  display: flex;
  background-repeat: no-repeat;

}

.description {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 30vh;
 text-align: center;
 text-align: justify;

}

.title {
  display: flex;
  justify-content: space-between;
align-items: center;

margin: 30px;
text-align: ;
}

.boxes {
  display: flex;
flex-wrap: wrap;
justify-content: center;
}

.box {
  display: flex;
 flex-direction: column;
  border-style: groove;
  width: 25%;
  padding: 20px;
  margin: 20px; 
  justify-content: space-around;
  /*background-image: url('https://images-na.ssl-images-amazon.com/images/I/51yo50tZC4L._SX304_BO1,204,203,200_.jpg');
background-repeat: no-repeat;
background-size: contain;
height: 70vh;*/
align-content: center;
align-items: center;
flex-flow: column wrap;

background-color: #C6AAAF;
border:0.16em solid rgba(255,255,255,0);
box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
border-radius:2em;
font-size: 15px;
text-align: center;



}

.box:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #6868AC;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img {
  height: 200px;
  width: 170px;
  border-radius:2em;

}

p {
  font-size: larger;
}

h1 {
  font-size: medium;
}

.one {
  background-color: #C6AAAF;
}

.btn { 
background-color: #6868AC;
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.1em 0.1em 0;
border:0.16em solid rgba(255,255,255,0);
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Abril Fatface',sans-serif;
font-weight:300;
color: black;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
text-align:center;
transition: all 0.2s;
align-self: flex-start;
margin: 10px;

}

.btn:hover{
border-color: rgba(255,255,255,1);
} 

}



  @media screen and (max-width: 600px) {

.top {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo {
width: 30vw;
  height:30vh;
  background-image: url("../images/ed8557ccaa234f158b80ea093181687b.png");
  background-size: contain;
  display: flex;
  background-repeat: no-repeat;

}

.description {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  height: 30vh;
 text-align: center;
 text-align: justify;

}

.title {
  display: flex;
  justify-content: space-between;
align-items: center;

margin: 30px;
text-align: ;
}

.box {
  display: flex;
 flex-direction: column;
  border-style: groove;
  width: 95%;
  padding: 20px;
  margin: 20px; 
  justify-content: space-evenly;
  /*background-image: url('https://images-na.ssl-images-amazon.com/images/I/51yo50tZC4L._SX304_BO1,204,203,200_.jpg');
background-repeat: no-repeat;
background-size: contain;
height: 70vh;*/
align-content: center;
align-items: center;
flex-flow: column wrap;
height: 80%;
background-color: #C6AAAF;
border:0.16em solid rgba(255,255,255,0);
box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
border-radius:2em;
}

.box:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid #6868AC;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img {
  height: 80vh;
  width: 70vw;
  border-radius:2em;

}

.one {
  background-color: #C6AAAF;
}

.btn { 
background-color: #6868AC;
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.1em 0.1em 0;
border:0.16em solid rgba(255,255,255,0);
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Abril Fatface',sans-serif;
font-weight:300;
color: black;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
text-align:center;
transition: all 0.2s;
align-self: flex-start;
margin: 10px;

}

.btn:hover{
border-color: rgba(255,255,255,1);
} 

} 

